/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }
}

/* Tablet & mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        display: none;
    }

    .header__wrap {
        position: relative;
    }

    .toggle-menu svg {
        width: 24px;
        color: #666;
    }

    .logo__link {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    .header__wrap::after {
        bottom: -10px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 60px;
        background: #fff;
        z-index: 101;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .menu-drawer .nav__item {
        width: 100%;
    }

    .menu-drawer ul a {
        display: block;
        color: #333;
        padding: 14px 0;
    }

    .navbar__list {
        margin-left: auto;
    }

    .navbar__link--active::after {
        bottom: -44px;
    }

    .navbar__item {
        width: 100%;
    }

    .row {
        flex-wrap: wrap;
        row-gap: 50px;
    }

    .hero {
        padding: 60px 0 90px;
    }

    .hero__content {
        width: 60%;
    }

    .hero__bgc-blur {
        display: none;
    }

    .hero__decor-icon--bottom {
        bottom: 0;
    }

    .hero-row {
        justify-content: center;
    }

    .hero__content {
        width: 76%;
    }

    .hero__title {
        width: 100%;
    }

    .hero__decor-icon--top {
        top: -40px;
        left: 5px;
    }

    .brand__list {
        justify-content: space-around;
        line-height: 150px;
        padding: 15px 90px;
    }

    .service__list {
        grid-template-columns: repeat(2, auto);
    }

    .service-item__image {
        width: 100%;
    }

    .service__controls {
        margin: 0;
    }

    .about-row {
        flex-direction: column;
    }

    .about__media {
        margin: 44px;
    }

    .about__content {
        width: 80%;
        margin: 0 auto;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .btn {
        width: 140px;
    }

    .control-btn {
        width: 44px;
        height: 44px;
    }

    .section-heading {
        font-size: 2.5rem;
    }

    .header-action {
        display: none;
    }

    .hero {
        padding: 0;
    }

    .hero__images {
        flex-wrap: wrap;
    }

    .hero__image {
        width: 40%;
        height: 150px;
    }

    .hero__content {
        width: 100%;
    }

    .hero__title {
        font-size: 3rem;
    }

    .hero__decor-icon--top {
        display: none;
    }

    .brands-row {
        margin: 0 auto;
    }

    .brand__list {
        line-height: 70px;
        padding: 0 35px;
    }

    .brand-item__name {
        font-size: 1.5rem;
    }

    .service__heading {
        width: 100%;
    }

    .service__list {
        grid-template-columns: auto;
    }

    .section-heading::after {
        right: 40px;
    }

    .about {
        margin-top: 0;
    }

    .about__decor-icon {
        display: none;
    }

    .about__media {
        height: 300px;
        margin: 10px;
    }

    .about__img {
        width: 150px;
        height: 150px;
    }

    .about-card {
        right: -70px;
    }

    .about__desc {
        font-size: 1.4rem;
    }

    .about-stat__percent {
        margin-right: 15px;
        font-size: 3rem;
    }

    .about-stat__desc {
        font-size: 1.2rem;
    }
}
