/* ========= TAG SETTING ============= */
* {
    /* Box model */
    box-sizing: border-box;
}

:root {
    /* font */
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Public Sans", sans-serif;

    /* colors */
    --primary-color-black: #152427;
    --primary-color-black-green: #143c3c;
    --text-color-black-gray: #575d5e;
    --text-color-light-gray: #7d8188;
    --secondary-color-gray: #6a8383;
    --secondary-color-light-green: #e2eddf;
    --third-color-light-green: #e7f9f9;
    --agwrold-color: #163c35;

    /* background */
    --btn-border-bg: #83a17d;
    --fill-decor-bg: #eaeaea;
    --process-item-hover-bg: #e2eddf;
    --separate-bg: #c4c4c4;
    --social-link-hover-bg: #a75325;

    /* border */
    --feature-item-border: #cecece;
}

html,
body {
    /* Scroll Smooth All Browser */
    scroll-behavior: smooth;
}

html {
    /* Set rem for text font-size (62.5% of 16px = 10px = 1rem)*/
    font-size: 62.5%;
}

body {
    /* Text */
    font-size: 1.6rem; /* Set normal text have font-size 16px */

    /* Font */
    font-family: var(--font-primary);
}

/* ======== Common ========== */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
}

/* ****************************************** */
/* ============= PC INTERFACE =============== */
/* ****************************************** */

/* ============= Common class =============== */
.container {
    /* Box model */
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.row {
    /* Flex box */
    display: flex;
    align-items: center;
}

.btn {
    /* Box model */
    width: 173px;
    height: 57px;
    border-radius: 40px;
    border: transparent;

    /* Text */
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;

    /* Color */
    background: var(--primary-color-black-green);
    color: #fff;

    /* Animation */
    transition: 0.25s;
}

.btn:hover {
    /* Color */
    color: var(--primary-color-black-green);
    background: #e2eddf;

    /* Mouse action */
    cursor: pointer;
}

.decor-icon {
    /* Positioning */
    position: absolute;
}

.section-title {
    /* Positioning */
    position: relative;

    /* Box model */
    padding-left: 46px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.section-title::before {
    /* Positioning */
    position: absolute;
    top: 9px;
    left: 0;
    /* Box model */
    content: "";
    width: 25px;
    height: 1px;

    /* Color */
    background: var(--primary-color-black);
}

.section-heading {
    /* Positioning */
    position: relative;

    /* Box model */
    width: 477px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.section-heading::after {
    /* Positioning */
    position: absolute;
    bottom: 18px;
    right: -9px;
    /* Box model */
    content: "";
    width: 66px;
    height: 2px;

    /* Color */
    background: var(--primary-color-black);
}

form:has(:invalid) .submit-btn {
    opacity: 0.5;
    pointer-events: none;
}

.form-group {
    margin-top: 16px;
}

.form-group:has(:invalid:not(:placeholder-shown)) .error {
    display: block;
}

.form-group .btn {
    margin-top: 20px;
    padding: 10px 28px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    background: #f49999;
    cursor: pointer;
}

.form-group .btn:hover {
    opacity: 0.9;
}

.form-group .error {
    margin: 10px 4px 0;
    font-size: 14px;
    font-weight: 500;
    color: red;
    display: none;
}

.controls {
    /* Flex box */
    display: flex;
    align-items: center;
    gap: 17px;
}

.control-btn {
    /* Box model */
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border-color: transparent;

    /* Color */
    color: var(--primary-color-black);
    background: var(--secondary-color-light-green);

    /* Flex box */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Animation */
    transition: 0.25s;
}

.control-btn:hover {
    /* Color */
    color: #fff;
    background: var(--primary-color-black-green);

    /* Mouse action */
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.line-clamp.line-4 {
    --line-clamp: 4;
}

.break-all {
    word-break: break-all;
}

.separate {
    /* Box model */
    width: 100%;
    height: 1px;
    margin-top: 5px;

    /* Color */
    background: var(--separate-bg);
}

/* ============= Header =================*/
.header {
    /* Box model */
    padding: 28px 0 12px;

    /* Color */
    background: #fff;

    /* Font */
    font-family: var(--font-secondary);
}

.header.fixed {
    /* Positioning */
    position: sticky;
    top: -16px;
    z-index: 99;
}

.header__wrap::after {
    /* Positioning */
    position: absolute;
    bottom: 0;
    content: "";
    transform: translateY(-50%);

    /* Box model */
    width: 1140px;
    height: 1px;

    /* Color */
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

.navbar__list {
    /* Positioning */
    position: relative;

    /* Flex box */
    display: flex;
    align-items: center;
    gap: 38px;

    /* Box model */
    margin-left: 406px;
}

.navbar__link {
    /* Color */
    color: var(--text-color-black-gray, #575d5e);

    /* Text */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link:hover {
    /* Color */
    color: var(--primary-color-black-green);

    /* Text */
    font-weight: 600;
}

.navbar__link--active {
    /* Positioning */
    position: relative;
    /* Color */
    color: var(--primary-color-black);
}

.navbar__link--active::after {
    /* Positioning */
    position: absolute;
    bottom: -30px;
    left: 0;
    z-index: 1;

    /* Box model */
    content: "";
    width: 16px;
    height: 2px;
    background: var(--primary-color-black-green);
}

.header-action {
    /* Box model */
    margin-left: auto;
}

/* ============= Hero =============== */
.hero {
    /* Box model */
    padding: 60px 0 165px;

    /* Font */
    font-family: var(--font-secondary);
}

.hero-row {
    /* Positioning */
    position: relative;

    /* Flex box */
    column-gap: 76px;
}

.hero__content {
    /* Box model */
    width: 34%;
    flex-shrink: 0;
}

.hero__title {
    /* Box model */
    width: 368px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__desc {
    /* Box model */
    margin-top: 20px;

    /* Color */
    color: var(--text-color-black-gray);

    /* Text */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.hero__cta {
    /* Flex box */
    display: flex;
    align-items: center;
    /* Box model */
    margin-top: 42px;
}

.play-button {
    /* Flex box */
    display: flex;
    align-items: center;
    column-gap: 9px;

    /* Box model */
    margin-left: auto;
}

.play-button:hover .play-button__border {
    /* Color */
    border-color: var(--btn-border-bg);
    border-bottom-color: transparent;
    border-right-color: transparent;

    /* Animation */
    transform: rotate(135deg);
}

.play-button:hover .play-btn {
    /* Color */
    background-color: var(--primary-color-black-green);

    /* Animation */
    transform: rotate(-135deg);

    /* User action */
    cursor: pointer;
}

.play-button:hover .play-button__desc {
    /* Color */
    color: var(--btn-border-bg);

    /* User action */
    cursor: pointer;
}

.play-button__border {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Box model */
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;

    /* Color */
    border-color: var(--primary-color-black-green);
    border-bottom-color: transparent;
    border-right-color: transparent;

    /* Animation */
    transform: rotate(-45deg);
    transition: 0.25s;

    /* User action */
    cursor: pointer;
}

.play-btn {
    /* Box model */
    width: 45px;
    height: 45px;
    border-radius: 50%;

    /* Color */
    color: #fef6fb;
    background-color: var(--btn-border-bg);
    border-color: transparent;

    /* Animation */
    transform: rotate(45deg);
}

.play-button__desc {
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero__bgc-blur {
    /* Positioning */
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 600px;

    /* Box model */
    width: 340px;
    height: 340px;
    border-radius: 50%;

    /* Color */
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__images {
    /* Flex box */
    display: flex;
    gap: 20px;
}

.hero__image {
    /* Box model */
    width: 202px;
    height: 466px;
    border-radius: 110px;

    /* Image */
    object-fit: cover;
}

.hero__image:nth-child(2) {
    position: relative;
    top: 77px;
}

.hero__decor-icon--top {
    /* Positioning */
    top: -32px;
    left: 254px;
}

.hero__decor-icon--bottom {
    /* Positioning */
    bottom: -188px;
    right: 76px;

    /* Animation */
    transform: rotate(175.95deg);
}

/* ================== Brands ================== */

.brands {
    /* Box model */
    margin-top: 42px;
}

.brands-row {
    /* Box model */
    width: 100%;
    height: 201px;
    border-radius: 100.5px;

    /* Color */
    background: var(--secondary-color-light-green);

    /* Text */
    line-height: 201px;
}

.brand__list {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Box model */
    padding: 0 122px;
}

.brand-item {
    /* Flex box */
    display: flex;
    align-items: center;
}

.brand-item__link {
    /* Flex box */
    display: flex;
    align-items: center;
}

.brand-item__link:hover .brand-item__name {
    /* Color */
    color: var(--btn-border-bg);
}

.brand-item__logo {
    /* Image */
    object-fit: cover;
}

.brand-item__logo--slack {
    /* Box model */
    width: 40px;
    height: 46px;
    margin-right: 5px;
}

.brand-item__logo--agwrold {
    /* Box model */
    width: 40px;
    height: 31px;
    margin-right: 11px;
}

.brand-item__logo--heroku {
    /* Box model */
    width: 29px;
    height: 30px;
    margin-right: 14px;
}

.brand-item__name {
    /* Color */
    color: var(--primary-color-black-green);
}

.brand-item__name--google {
    /* Text */
    font-size: 3.1rem;
    font-weight: 500;
}

.brand-item__name--slack {
    /* Text */
    font-size: 3.2rem;
    font-weight: 600;
}

.brand-item__name--agwrold {
    /* Color */
    color: var(--agwrold-color);
    font-size: 2.6rem;
}

.brand-item__name--riotinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
}

.brand-item__name--heroku {
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}

/* ============= Service =============== */
.service {
    /* Box model */
    margin-top: 106px;
}

.service__top {
    /* Box model */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__heading {
    /* Box model */
    width: 520px;
}

.section-heading::after {
    right: 103px;
}

.service__controls {
    margin-right: 73px;
}

.service__list {
    /* Flex box */
    display: flex;
    gap: 16px;

    /* Box model */
    margin-top: 76px;
}

.service-item {
    /* Animation */
    transition: 0.25s;
}

.service-item:hover {
    /* Animation */
    transform: translateY(-10px);

    /* Box model */
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);

    /* Color */
    background: #fff;
}

.service-item:hover .service-item__title,
.service-item:hover .service-item__desc {
    padding-left: 18px;
}

.service-item__image {
    /* Box model */
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0px 0px;

    /* Image */
    object-fit: cover;
}

.service-item__title {
    margin-top: 40px;
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 22px;
}

.service-item__desc {
    /* Box model */
    width: 268px;
    margin-top: 18px;
    padding-bottom: 23px;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ============= About =============== */

.about {
    /* Box model */
    margin-top: 149px;
}

.about-row {
    align-items: flex-start;
}

.about__media {
    /* Positioning */
    position: relative;

    /* Box model */
    width: 53%;
    height: 570px;
}

.about__images {
    /* Flex box */
    display: flex;
    align-items: flex-start;
    gap: 21px;

    /* Box model */
    height: 100%;
}

.about__img {
    /* Box model */
    width: 284px;
    height: 480px;
    border-radius: 210px;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);

    /* Image */
    object-fit: cover;
}

.about__img:first-child {
    align-self: flex-end;
}

.about-card {
    /* Positioning */
    position: absolute;
    bottom: 0;
    right: 0;

    /* Box model */
    width: 143px;
    height: 144px;
    padding: 19px 23px 10px 17px;
    border-radius: 8px;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);

    /* Color */
    background: #fff;

    /* Text */
    font-family: var(--font-secondary);
}

.about-card__title {
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 1.4rem;
    font-weight: 600;
}

.about-card__total {
    /* Box model */
    margin-top: 6px;

    /* Color */
    color: var(--text-color-black-gray);

    /* Text */
    font-size: 1rem;
    line-height: 1.4;
}

.about-card__percent {
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-progress-bar {
    /* Box model */
    width: 96px;
    height: 2px;
    margin-top: 3px;
    border-radius: 10px;
}

.about-progress-bar__fill {
    /* Box model */
    width: 100%;
    height: 100%;

    /* Color */
    background: var(--fill-decor-bg);
}

.about-progress-bar__fill--inner {
    /* Box model */
    width: 40%;
    height: 100%;

    /* Color */
    background: var(--btn-border-bg);
}

.about-card__status {
    /* Box model */
    margin-top: 3px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    text-align: end;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-card__circle-decor {
    /* Box model */
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 3px solid var(--fill-decor-bg);
    background: var(--primary-color-black-green);
}

.about-team {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    margin-top: 5px;
}

.about-team__title {
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
}

.about-team__avatars {
    margin-left: auto;
}

.avatar__item {
    margin-right: -6px;
}

.avatar__list {
    display: flex;
}

.avatar__img {
    /* Box model */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;

    /* Image */
    object-fit: cover;
}

.about__decor-icon {
    /* Positioning */
    top: 0;
    left: 13.23px;
    transform: rotate(12.645deg);
}

.about__content {
    /* Box model */
    width: 43%;
    margin-left: auto;
}

.about__title {
    /* Box model */
    margin-top: 20px;
}

.about__heading {
    /* Box model */
    width: 100%;
}

.about__heading::after {
    display: none;
}

.about__desc {
    /* Box model */
    margin-top: 11px;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.about-stat {
    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    padding: 36px 0 20px;
    border-bottom: 1px solid var(--btn-border-bg);
}

.about-stat__percent {
    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.about-stat__desc {
    /* Box model */
    width: 364px;
    margin-left: auto;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ====================== Process =================== */
.process {
    /* Box model */
    margin-top: 79px;
}

.process__top {
    /* Positioning */
    position: relative;

    padding-top: 36px;
}

.process__img {
    /* Positioning */
    position: absolute;
    top: -79px;
    right: 92px;

    /* Box model */
    width: 450px;
    height: 444px;
    z-index: 1;

    /* Image */
    object-fit: cover;
}

.process__list {
    margin-top: 81px;
}

.process-item {
    /* Positioning */
    position: relative;

    /* Flex box */
    display: flex;
    align-items: center;

    /* Box model */
    padding: 20px 46px 41px 21px;

    /* Animation */
    transition: 0.25s;
}

.process-item::after {
    /* Positioning */
    position: absolute;
    bottom: 0;
    left: 0;

    /* Box model */
    content: "";
    width: 1131px;
    height: 3px;

    /* Color */
    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-item:hover {
    /* Box model */
    height: 185px;
    border-radius: 33px;

    /* Color */
    background: var(--secondary-color-light-green);

    /* Animation */
    transform: translateY(-10px);
}

.process-item:hover .process-item__more {
    /* Color */
    display: block;
}

.process-item:hover::after {
    visibility: hidden;
}

.process-item__ol {
    /* Positioning */
    position: relative;

    /* Box model */
    width: 107px;
    margin-right: 49px;

    /* Color */
    color: var(--primary-color-black-green);

    /* Text */
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 0.72;
}

.process-item__name {
    /* Box model */
    margin-bottom: 22px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 2.2rem;
    font-weight: 600;
}

.process-item__more {
    /* Visibility */
    display: none;

    /* Color */
    color: var(--text-color-black-gray);

    /* Text */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: underline;
}

.process-item__desc {
    /* Box model */
    width: 572px;
    margin-left: auto;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    font-family: var(--font-secondary);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.process-item:first-child .process-item__desc {
    /* Visibility */
    visibility: hidden;
}

/* ================== Project =====================  */
.project {
    /* Box model */
    margin-top: 148px;

    padding: 116px 0 63px;

    /* Color */
    background: var(--primary-color-black-green);
}

.project-row {
    /* Flex box */
    justify-content: space-between;

    margin-bottom: 65px;
}

.project__heading {
    /* Box model */
    width: 44%;

    /* Color */
    color: var(--third-color-light-green);

    /* Text */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.project__heading::after {
    background: var(--btn-border-bg);
}

.project__content {
    /* Box model */
    width: 50%;

    /* Text */
    font-family: var(--font-secondary);
}

.project__desc {
    /* Color */
    color: var(--secondary-color-gray);

    /* Text */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__link {
    /* Box model */
    margin: 13px 26px 0 0;

    /* Color */
    color: #fff;

    /* Text */
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.project__link:hover {
    /* Color */
    color: var(--btn-border-bg);
}

.project-media {
    /* Positioning */
    position: relative;
}

.project__video {
    /* Box model */
    width: 100%;
    height: 544px;
}

.project__play-btn {
    /* Positioning */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    /* Box model */
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background: #636262e3;

    /* User action */
    cursor: pointer;
}

.project__decor-icon-01 {
    /* Positioning */
    top: -160px;
    right: 0;
}

.project__decor-icon-02 {
    /* Positioning */
    top: -70px;
    right: 20px;
}

/* ================== Features ============== */
.features {
    /* Box model */
    margin-top: 140px;
}

.features__heading {
    /* Box model */
    width: 520px;
    margin: 0 auto;
}

.features__heading::after {
    /* Visibility */
    display: none;
}

.features__desc {
    /* Box model */
    width: 570px;
    margin-top: 20px;
    margin: 0 auto;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.feature__list {
    /* Grid system */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;

    /* Box model */
    margin-top: 103px;
}

.feature-item {
    /* Flex box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 350px;
    height: 362px;
    padding: 0 30px;
    border-radius: 160px;
    border: 1.5px solid var(--feature-item-border);

    /* Text */
    text-align: center;

    /* Animation */
    transition: 0.25s;
}

.feature-item:hover {
    /* Box model */
    border-radius: 160px;
    box-shadow: 0px 36px 100px 0px rgba(111, 120, 111, 0.2);
    border-color: transparent;

    /* Color */
    background: #fff;

    /* Animation */
    transform: translateY(-59px);
}

.feature-item__icon {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.feature-item__title {
    /* Box model */
    margin-top: 26px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 2rem;
    font-weight: 600;
}

.feature-item__desc {
    /* Box model */
    margin-top: 9px;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    text-align: center;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71;
}

/* ================== Blog ============== */
.blog {
    /* Box model */
    margin-top: 184px;
}

.blog__top {
    justify-content: space-between;
}

.blog__heading {
    /* Box model */
    width: 520px;

    /* Color */
    color: var(--primary-color-black);

    /* Text */
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.24;
}

.blog__heading::after {
    /* Box model */
    right: -51px;
}

.blog__desc {
    /* Box model */
    width: 409px;

    /* Color */
    color: var(--text-color-light-gray);

    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.63;
}

.blog__list {
    /* Grid system */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    justify-content: space-between;

    /* Box model */
    margin-top: 90px;
}

.blog-item {
    /* Box model */
    border-radius: 20px;

    /* Overflow */
    overflow: hidden;

    /* Animation */
    transition: 0.25s;
}

.blog-item:hover {
    /* Box model */
    background: #fff;
    box-shadow: 0px 12px 74px 0px rgba(91, 91, 91, 0.25);
}

.blog-item:hover .blog-item__content {
    /* Box model */
    padding-left: 30px;
}

.blog-item:hover .blog-item__category {
    /* Color */
    color: var(--secondary-color-light-green);
    background: var(--primary-color-black-green);
}

.blog-item__img {
    /* Box model */
    width: 360px;
    height: 317px;
}

.blog-item__content {
    /* Box model */
    padding: 26px 25px 12px 0;

    transition: 0.25s;
}

.blog-item__category {
    /* Box model */
    width: 107px;
    height: 26px;
    padding: 7px 33px;
    border-radius: 20px;

    /* Color */
    color: #000;
    background: var(--secondary-color-light-green);

    /* Text */
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

.blog-item__title {
    /* Box model */
    height: 90px;
    margin-top: 13px;

    /* Color */
    color: var(--primary-color-black-green);

    /* Text */
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog-item__date {
    /* Box model */
    margin-top: 16px;

    /* Color */
    color: var(--text-color-black-gray, #575d5e);

    /* Text */
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

/* ============= Footer ================= */
.footer {
    /* Box model */
    margin-top: 102px;
    padding: 72px 0 96px;

    /* Color */
    background: var(--primary-color-black-green);

    /* Text */
    font-family: var(--font-secondary);
}

.footer__row {
    /* Grid system */
    display: grid;
    grid-template-columns: 1fr repeat(4, 76px);
    column-gap: 50px;

    /* Box model */
    margin-bottom: 45px;
}

.footer__column:first-child {
    /* Text */
    font-family: var(--font-primary);
}

.footer__heading {
    /* Color */
    color: #fff;

    /* Text */
    font-size: 1.8rem;
    font-weight: 500;
}

.newsletter__heading {
    /* Text */
    font-size: 3.2rem;
}

.footer-form {
    margin-top: 25px;
    position: relative;
    width: 354px;
}

.footer-form::after {
    /* Positioning */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;

    /* Box model */
    content: "";
    height: 1px;

    /* Color */
    background: var(--secondary-color-gray);
}

.footer-form__input {
    /* Box model */
    border-radius: 5px;
    padding: 5px 0;
    border: transparent;

    /* Color */
    color: var(--secondary-color-gray);
    background: transparent;

    /* Text */
    font-size: 2.2rem;
    font-weight: 600;

    /* Animation */
    transition: 0.25s;
}

.footer-form__input::placeholder {
    /* Color */
    color: var(--text-color-black-gray);
}

.footer-form__input:focus {
    /* Box model */
    outline: none;
    padding-left: 10px;

    /* Color */
    background: var(--secondary-color-light-green);

    font-weight: 400;
}

.footer-form__input:focus::placeholder {
    /* Color */
    color: var(--text-color-light-gray);
}

.footer-form__submit {
    /* Positioning */
    position: relative;
    top: 5px;

    /* Box model */
    background: transparent;

    /* Color */
    color: #c4c4c4;
    border: transparent;

    /* User action */
    cursor: pointer;
}

.footer-form__submit:hover .footer-form__icon {
    /* Color */
    color: #fff;
}

.socials {
    /* Flex box */
    display: flex;
    gap: 20px;

    /* Box model */
    margin-top: 80px;
}

.socials__link {
    /* Flex box */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Box model */
    width: 52px;
    height: 52px;
    border: 1px solid var(--separate-bg);
    border-radius: 50%;

    /* Animation */
    transition: 0.25s;
}

.socials__link:hover {
    /* Color */
    background-color: var(--social-link-hover-bg);
    border-color: transparent;
}

.socials__icon {
    /* Color */
    background-color: transparent;
}

.footer__list {
    margin-top: 10px;
}

.footer__link {
    /* Color */
    color: var(--secondary-color-gray);

    /* Text */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
}

.footer__separate {
    background: linear-gradient(
        90deg,
        #143c3c 2.28%,
        #295a5a 55.65%,
        rgba(38, 82, 82, 0) 102.06%
    );
}
